<!--File Name:add.ejs
    Name: Prajwal
    Student ID 301243308
    Date 20 November 2022-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">

<div class="hero">

  <video autoplay loop muted plays-inline class="back-video">
<source src="/images/video.mp4" type="video/mp4">
>  </video>

</div> 

    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Book Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Book Title"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="numberTextField">Sold Copies</label>
                    <input type="text" class="form-control"
                    id="numberTextField"
                    placeholder="Enter the phone number"
                    name="number" required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">Author's Email address</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the email address"
                    name="emailaddress" required>
                </div>
               

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/book-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>